.box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#preview {
    width: 100vw;
    height: 100vh;
    user-select: none;
    
    filter: blur(-5px);
    position: absolute;
    top: 0px;
    z-index: -9999;

    background-color: black;
    border-width: 0px;
}

#preview-cover {
    z-index: -9998;
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    user-select: none;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
